.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--background-color-soft);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  font-weight: bold;
}
